h2 {
  color: #393f03;
  font-size: 3.5rem; }

p {
  color: #393f03;
  font-size: 1.5rem; }

* {
  margin: 0;
  padding: 0;
  font-size: 67.5%;
  box-sizing: border-box;
  font-family: 'Road Rage', cursive;
  font-family: 'Roboto Mono', monospace; }

.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll; }

.Page {
  display: flex;
  flex-flow: column;
  scroll-snap-align: start;
  height: 100vh; }

.one, .two {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
  height: 100vh; }

.one {
  justify-content: center;
  align-items: center;
  background-color: #dddb41; }

.two {
  background-color: #dddb41; }

.section_txt {
  display: inline-flex;
  align-items: center; }

.section_txt .static_txt {
  margin-top: 1.6rem;
  color: #393f03;
  font-size: 4.5rem;
  font-weight: 300;
  cursor: default; }

.section_txt .dynamic-txt {
  margin-left: 1rem;
  height: 80px;
  line-height: 80px;
  overflow: hidden; }

.section_txt .dynamic-txt li {
  list-style: none;
  font-size: 7rem;
  font-weight: 500;
  color: #393f03;
  position: relative;
  top: 0;
  cursor: default;
  animation: slide 10s steps(2) infinite; }

.section_txt .dynamic-txt li span {
  position: relative; }

@keyframes slide {
  100% {
    top: -182px; } }

.dynamic-txt li span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #dddb41;
  border-left: 2px solid #393f03;
  animation: typing 2s steps(10) infinite; }

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -60px 0 60px; } }

.section_nav {
  margin-top: 5rem; }

button {
  margin-right: 1rem;
  background-color: #dddb41;
  font-size: 1.5rem;
  padding: 1rem;
  color: #393f03;
  border-radius: 5px;
  border: 2px solid #393f03;
  cursor: pointer; }

.button--animate {
  animation: wink 0.2s steps(4); }

@keyframes wink {
  100% {
    background: #dddb41; }
  0% {
    background: #393f03;
    color: #dddb41; } }

.section_lang-nav {
  position: relative;
  top: 0;
  margin-bottom: 4rem;
  width: 100%;
  height: 10%;
  background: #393f03; }

.section_bio-text {
  padding: 0 35rem; }

.section_skills {
  position: relative;
  top: 28%;
  margin-bottom: 4rem;
  width: 100%;
  height: 40%;
  background: #393f03; }
