/***********************************************************
                    TYPO
************************************************************/
.section_skills--title, .section_bio-text h2 {
  color: #161853;
  font-size: 3.5rem; }

h3 {
  color: #FAEDF0;
  font-size: 1.4rem; }

.section_bio-text h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem; }

.section_bio-text p {
  line-height: 2rem;
  max-width: 40rem;
  color: #161853;
  font-size: 1.2rem; }

.langs_list h3 {
  padding: 0;
  margin: 2.2rem 0 2rem 0; }

.langs_list ul li {
  color: #EC255A; }

.langs_list .strong_p {
  color: #FAEDF0; }

.section_works--title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 2/3;
  color: #292C6D; }

nav .social-media h2 {
  font-size: 1.5rem;
  color: #FAEDF0;
  text-align: center; }

nav .page-name p {
  font-size: 3.5rem;
  transform: rotate(90deg);
  color: #FAEDF0; }

.card-content p span {
  font-size: 1.2rem; }

/***********************************************************
                        GRIDS
************************************************************/
#site_grid {
  display: grid;
  grid-template-columns: 10% 80% 10%; }

#page_two--grid {
  display: grid;
  grid-template-rows: 5% 50% 45%; }

#section_skills--grid {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 30% 30% 20%; }

#page_three--grid {
  display: grid;
  grid-template-rows: 50% 5% 45%;
  grid-template-columns: 5% 90% 5%; }

#section_works--grid {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 15% 70% 15%;
  grid-column-gap: 0.5rem;
  position: relative; }

/*********************************
            ICONS
************************************/
nav .social-media a {
  padding: 1.5rem 0; }
  nav .social-media a i {
    color: #FAEDF0;
    font-size: 5.25rem; }
  nav .social-media a i:hover {
    color: #EC255A; }

/***********************************************************
                          STRUCTURE
************************************************************/
* {
  margin: 0;
  padding: 0;
  font-size: 67.5%;
  box-sizing: border-box;
  font-family: 'Road Rage', cursive;
  font-family: 'Roboto Mono', monospace; }

html {
  scroll-behavior: smooth; }

.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll; }

main {
  grid-column: 2/3; }

/*Nav section*/
nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex; }
  nav .social-media, nav .page-name {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #292C6D;
    position: relative;
    width: 10%;
    height: 100vh; }
  nav .social-media {
    grid-column: 1/2;
    padding-top: 28rem; }
    nav .social-media a {
      transition: transform 500ms ease; }
      nav .social-media a img {
        margin-top: 2rem;
        width: 5rem; }
    nav .social-media a:hover {
      transform: scale(1.1); }
  nav .page-name {
    grid-column: 3/4;
    padding-bottom: 20rem;
    left: 78.9%;
    justify-content: flex-end; }

.page {
  display: flex;
  flex-flow: column;
  scroll-snap-align: start;
  height: 100vh; }

.one, .two, .three {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.one {
  justify-content: center;
  align-items: center;
  background-color: #FAEDF0; }

.two {
  background-color: #FAEDF0; }

.three {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #FAEDF0; }

.section_txt {
  display: inline-flex;
  align-items: center; }

.section_txt .static_txt--en, .static_txt--es {
  margin-top: 3.5rem;
  color: #161853;
  font-size: 4.5rem;
  font-weight: 300;
  cursor: default; }

.hide {
  display: none; }

.active {
  display: inline-flex; }

.section_txt .dynamic-txt {
  margin-left: 1rem;
  height: 80px;
  line-height: 80px;
  overflow: hidden; }

.section_txt .dynamic-txt li {
  list-style: none;
  font-size: 7rem;
  font-weight: 500;
  color: #161853;
  position: relative;
  top: 0;
  cursor: default;
  animation: slide 10s steps(2) infinite; }

.section_txt .dynamic-txt li span {
  position: relative; }

@keyframes slide {
  100% {
    top: -227px; } }

.dynamic-txt li span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FAEDF0;
  border-left: 2px solid #161853;
  animation: typing 4s steps(12) infinite; }

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -60px 0 60px; } }

.section_nav {
  margin-top: 5rem; }

.button {
  background-color: #FAEDF0;
  font-size: 1.2rem;
  color: #161853;
  text-decoration: none;
  max-width: 5ch;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #161853;
  cursor: pointer;
  transition: padding 200ms ease; }

.button:hover {
  padding: 1.2rem;
  border-radius: 7px;
  border: none;
  background: #EC255A;
  color: #FAEDF0; }

.lang_btn {
  display: inline;
  overflow: hidden; }

.lang_btn:hover {
  padding-right: 3rem;
  border-radius: 7px;
  background: #161853;
  color: #FAEDF0; }

.section_lang-nav {
  grid-row: 1/2;
  background: #161853; }

.section_bio-text {
  grid-row: 2/3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: left; }

.section_bio-text img {
  position: relative;
  width: 19rem;
  padding: 1rem 0 0 0;
  border-radius: 5px; }

.section_skills {
  grid-row: 3/4;
  position: relative;
  background: #161853; }

.section_skills--title {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/5; }
  .section_skills--title h2 {
    font-size: 3.5rem;
    color: #FAEDF0;
    padding-top: 2rem; }

.langs_list, .tools_list {
  display: flex;
  grid-row: 2/3;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  .langs_list h3, .tools_list h3 {
    padding: 2rem; }

.langs_list {
  grid-column: 2/3; }

.tools_list {
  grid-column: 3/4; }

ul {
  list-style: none; }

ul li {
  font-size: 1.2rem;
  color: #FAEDF0;
  padding: 1rem 0; }

/**Section My Work**/
.section_works {
  justify-self: center;
  bottom: 0;
  grid-row: 1/2; }

.card {
  cursor: pointer;
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
  padding: 10.5rem 0 0;
  border-radius: 0.5rem;
  color: #FAEDF0;
  font-size: 3rem;
  max-width: 35ch;
  overflow: hidden;
  transition: transform 500ms ease; }

.card:hover {
  transform: scale(1.02); }

.card-content {
  --padding:1.5rem;
  padding: var(--padding);
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  transform: translateY(100%);
  transition: transform 500ms ease; }

.card:hover .card-content {
  transform: translateY(10%); }

.langs_list h3 {
  padding: 0;
  margin: 2.2rem 0 rem 0; }

.card-title {
  font-size: 2rem;
  margin: 1rem 0;
  position: relative;
  width: max-content; }

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: #FAEDF0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 700ms ease; }

.card:hover .card-title::after {
  transform: scaleX(1); }

.card-body {
  margin: 1rem 0; }

.card-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background: mediumspringgreen;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: .5em 1.25em;
  border-radius: 0.25em; }

.card-button:hover, .card-button:focus {
  background-color: darkturquoise; }

.card_one {
  grid-column: 1/2;
  background-image: url("https://ichef.bbci.co.uk/news/640/cpsprodpb/76B0/production/_105848303_gettyimages-996540050.jpg"); }

.card_two {
  grid-column: 2/3;
  background-color: black;
  background-image: url("https://tierragamer.com/wp-content/uploads/2017/12/Pong.jpg");
  background-size: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat; }

.card_three {
  grid-column: 3/4;
  background: blue; }

.page_three--footer {
  grid-row: 3/4;
  background: #161853;
  display: flex;
  flex-flow: column;
  align-items: center; }

.footer_container {
  display: flex;
  flex-flow: row; }

.page_three--footer h2 {
  color: #FAEDF0;
  font-size: 3.5rem;
  padding: 3rem 0; }

.footer_container--cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 1px 5px 10px #292C6D;
  background: #FAEDF0;
  cursor: pointer;
  transition: transform 500ms ease; }

.footer_container--cards:hover {
  transform: scale(1.2); }

.footer_container--cards h3 {
  color: #161853; }

.footer_card--one {
  position: relative;
  background-position-y: 80%;
  background-position-x: 50%;
  background-size: 10rem;
  background-repeat: no-repeat;
  background-image: url(https://image.flaticon.com/icons/png/512/598/598985.png); }

.footer_card--two {
  position: relative;
  background-position-y: 80%;
  background-position-x: 50%;
  background-size: 10rem;
  background-repeat: no-repeat;
  background-image: url(https://cdn-icons-png.flaticon.com/512/25/25231.png); }

::-webkit-scrollbar {
  background: #FAEDF0; }

::-webkit-scrollbar-track {
  background: #161853; }

::-webkit-scrollbar-thumb {
  background: #FAEDF0; }

/***********************************************************
                        MEDIA
************************************************************/
@media (max-width: 1550px) {
  * {
    font-size: 60%; }
  .section_txt .static_txt--en, .static_txt--es {
    margin-top: 4rem; }
  .card-content {
    --padding:1.5rem;
    transform: translateY(110%); }
  .card:hover .card-content {
    transform: translateY(30%); }
  @keyframes slide {
    100% {
      top: -220px; } } }

@media (max-width: 1520px) {
  * {
    font-size: 60%; }
  .section_txt .static_txt--en, .static_txt--es {
    margin-top: 4rem; }
  .card-content {
    --padding:1.5rem;
    transform: translateY(110%); }
  .card:hover .card-content {
    transform: translateY(10%); }
  @keyframes slide {
    100% {
      top: -220px; } } }

@media (max-width: 1440px) {
  .card:hover .card-content {
    transform: translateY(20%); } }

@media (max-width: 1360px) {
  .card:hover .card-content {
    transform: translateY(-10%); } }

@media (max-width: 1050px) {
  * {
    font-size: 60%; }
  .section_txt {
    display: flex;
    flex-flow: column; }
  .static_txt--en, .static_txt--es {
    font-size: 5rem;
    width: 45rem;
    height: 5rem; }
  .section_txt .dynamic-txt {
    width: 60rem;
    height: 5rem; }
  .section_txt .dynamic-txt li {
    padding-left: 6.5rem;
    animation: slide 7s steps(2) infinite;
    top: -30px; }
  @keyframes slide {
    100% {
      top: -250px; } }
  .section_bio-text {
    padding: 0 10rem; }
  .card {
    font-size: 3.5rem; }
  .card_one {
    background-position: 30%;
    background-size: 350%; }
  .card-content {
    transform: translateY(210%);
    transition: transform 500ms ease; }
  .card:hover .card-content {
    transform: translateY(119%); } }

@media (max-width: 986px) {
  * {
    font-size: 54%; }
  .card {
    font-size: 4rem; }
  .card_one {
    background-repeat: no-repeat;
    background-position: 10%; }
  .card-content {
    transform: translateY(130%);
    transition: transform 500ms ease; }
  .card:hover .card-content {
    transform: translateY(30%); } }

@media (max-width: 870px) {
  * {
    font-size: 58%; }
  .section_txt {
    display: flex;
    flex-flow: column; }
  .static_txt--en, .static_txt--es {
    font-size: 5rem;
    width: 45rem;
    height: 5rem; }
  .section_txt .dynamic-txt {
    width: 60rem;
    height: 5rem; }
  .section_txt .dynamic-txt li {
    padding-left: 6.5rem;
    animation: slide 7s steps(2) infinite;
    top: -30px; }
  @keyframes slide {
    100% {
      top: -250px; } }
  .section_bio-text {
    padding: 0 10rem; }
  .card {
    font-size: 4rem; }
  .card_one {
    background-position: 20%;
    background-size: 300%; }
  .card-content {
    transform: translateY(150%);
    transition: transform 500ms ease; }
  .card:hover .card-content {
    transform: translateY(5%); } }

@media (max-width: 800px) {
  * {
    font-size: 60%; }
  .section_txt {
    display: flex;
    flex-flow: column; }
  .static_txt--en, .static_txt--es {
    font-size: 5rem;
    width: 45rem;
    height: 5rem; }
  .section_txt .dynamic-txt {
    width: 60rem;
    height: 5rem; }
  .section_txt .dynamic-txt li {
    padding-left: 6.5rem;
    animation: slide 7s steps(2) infinite;
    top: -30px; }
  @keyframes slide {
    100% {
      top: -250px; } }
  .section_bio-text {
    padding: 0 10rem; }
  .card {
    font-size: 3.5rem; }
  .card_one {
    background-position: 30%;
    background-size: 350%; }
  .card-content {
    transform: translateY(150%);
    transition: transform 500ms ease; }
  .card:hover .card-content {
    transform: translateY(35%); } }

@media (max-width: 480px) {
  * {
    font-size: 45%; }
  .section_txt {
    display: flex;
    flex-flow: column; }
  .static_txt--en, .static_txt--es {
    font-size: 5rem;
    width: 45rem;
    height: 5rem; }
  .section_txt .dynamic-txt {
    width: 45rem;
    height: 5rem; }
  .section_txt .dynamic-txt li {
    padding-left: 6.5rem;
    animation: slide 7s steps(2) infinite;
    top: -40px; }
  @keyframes slide {
    100% {
      top: -246px; } }
  .section_bio-text {
    padding: 0 10rem; }
  #site_grid {
    display: flex; }
  nav {
    position: fixed;
    display: flex;
    background: #292C6D;
    height: 5%;
    width: 100%;
    z-index: 2;
    top: 0; }
    nav .social-media {
      position: relative;
      display: flex;
      flex-flow: row;
      justify-content: center;
      padding: 0;
      border: solid 1px olive;
      background: none;
      width: 100%;
      height: 100%; }
      nav .social-media a i {
        font-size: 3.5rem;
        margin-right: 2rem; }
      nav .social-media a h2 {
        display: none; }
    nav .page-name {
      display: none; }
  #page_two--grid {
    display: grid;
    grid-template-rows: 5% 55% 40%; }
  .card {
    font-size: 6rem; }
  .card_one {
    background-position: 27%;
    background-size: 350%; }
  .card-content {
    transform: translateY(210%);
    transition: transform 500ms ease; }
  .card:hover .card-content {
    transform: translateY(35%); }
  .section_bio-text p {
    font-size: 1.5rem; } }

@media (max-width: 480px) and (min-height: 800px) {
  * {
    font-size: 45%; }
  .section_txt {
    display: flex;
    flex-flow: column; }
  .static_txt--en, .static_txt--es {
    font-size: 5rem;
    width: 45rem;
    height: 5rem; }
  .section_txt .dynamic-txt {
    width: 45rem;
    height: 5rem; }
  .section_txt .dynamic-txt li {
    padding-left: 6.5rem;
    animation: slide 7s steps(2) infinite;
    top: -40px; }
  @keyframes slide {
    100% {
      top: -246px; } }
  .section_bio-text {
    padding: 0 10rem; }
  #site_grid {
    display: flex; }
  nav {
    position: fixed;
    display: flex;
    background: #292C6D;
    height: 5%;
    width: 100%;
    z-index: 2;
    top: 0; }
    nav .social-media {
      position: relative;
      display: flex;
      flex-flow: row;
      justify-content: center;
      padding: 0;
      border: solid 1px olive;
      background: none;
      width: 100%;
      height: 100%; }
      nav .social-media a i {
        font-size: 3.5rem;
        margin-right: 2rem; }
    nav .page-name {
      display: none; }
  #page_two--grid {
    display: grid;
    grid-template-rows: 5% 55% 40%; }
  .card {
    font-size: 6rem; }
  .card_one {
    background-position: 27%;
    background-size: 380%; }
  .card-content {
    transform: translateY(210%);
    transition: transform 500ms ease; }
  .card:hover .card-content {
    transform: translateY(55%); }
  .section_bio-text p {
    font-size: 1.5rem; } }

@media (max-width: 400px) {
  * {
    font-size: 45%; }
  .section_txt {
    display: flex;
    flex-flow: column; }
  .static_txt--en, .static_txt--es {
    font-size: 5rem;
    width: 45rem;
    height: 5rem; }
  .section_txt .dynamic-txt {
    width: 45rem;
    height: 5rem; }
  .section_txt .dynamic-txt li {
    padding-left: 6.5rem;
    animation: slide 7s steps(2) infinite;
    top: -40px; }
  @keyframes slide {
    100% {
      top: -246px; } }
  .section_bio-text {
    padding: 0 10rem; }
  #site_grid {
    display: flex; }
  nav {
    position: fixed;
    display: flex;
    background: #292C6D;
    height: 5%;
    width: 100%;
    z-index: 2;
    top: 0; }
    nav .social-media {
      position: relative;
      display: flex;
      flex-flow: row;
      justify-content: center;
      padding: 0;
      border: solid 1px olive;
      background: none;
      width: 100%;
      height: 100%; }
      nav .social-media a i {
        font-size: 3.5rem;
        margin-right: 2rem; }
      nav .social-media a h2 {
        display: none; }
    nav .page-name {
      display: none; }
  #page_two--grid {
    display: grid;
    grid-template-rows: 5% 55% 40%; }
  .card {
    font-size: 6rem; }
  .card_one {
    background-position: 30%;
    background-size: 410%;
    background-repeat: no-repeat; }
  .card-content {
    transform: translateY(210%);
    transition: transform 500ms ease; }
  .card:hover .card-content {
    transform: translateY(40%); }
  .section_bio-text p {
    font-size: 1.5rem; } }

@media (max-width: 375px) {
  .card {
    font-size: 5rem; }
  .card:hover .card-content {
    transform: translateY(0%); } }
