/***********************************************************
                    TYPO
************************************************************/


.section_skills--title,.section_bio-text h2{
    color: $blackclr;
    font-size: $title_size;
}
h3 {
    color: $whithe_clr;
    font-size: $subtitle_size;
}

// Page two typo properties

.section_bio-text h2{
    font-size: $title_size - 1rem;
}

.section_bio-text p{
    line-height: 2rem;
    max-width: 40rem;
    color: $blackclr;
    font-size: $p_size;
}

.langs_list {

    h3{
        padding: 0;
        margin:2.2rem 0 2rem 0;
    }

    ul{
        li{
            color: $strong_clr;
        }
    }

    .strong_p{
        color: $whithe_clr;
    }

}

// page three Typo properties

.section_works--title{
    font-size: $title_size - 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 2/3;
    color: $rare_black_clr;
  }

// nav 
nav {
    .social-media{
        h2{
            font-size: $title_size - 2rem;
            color: $whithe_clr;
            text-align: center;
        }
    }
    .page-name{
        p{
            font-size: $title_size;
            transform: rotate(90deg);
            color: $whithe_clr;
        }
    }
}

.card-content p span{
    font-size: $p_size;
}
