
//colors
$whithe_clr:#FAEDF0;
$blackclr:#161853;
$rare_black_clr:#292C6D;
$strong_clr:#EC255A;
//font-sizes
$display_sizes:7rem;
$title_size:3.5rem;
$subtitle_size:1.4rem;
$p_size:1.2rem;

//mobile
$Ios_title--light:1.5rem;





