* {
    margin: 0;
    padding: 0;
    font-size: 67.5%;
    box-sizing: border-box;
    font-family: 'Road Rage', cursive;
    font-family: 'Roboto Mono', monospace; }
  
  
  .container {
      height: 100vh;
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
  }

  .Page {
    display: flex;
    flex-flow: column;
    scroll-snap-align: start;
    height: 100vh;
}

.one,.two{
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
  height: 100vh;
}

.one{
  justify-content: center;
  align-items: center;
  background-color: $yellowclr;
}

.two{
  background-color: $yellowclr;
}

// home page strings and containers

  .section_txt {
    display: inline-flex; 
    align-items: center;}
    
    .section_txt .static_txt {
      margin-top: 1.6rem;
      color: $blackclr;
      font-size: 4.5rem;
      font-weight: 300;
      cursor: default;
     }
  
  .section_txt .dynamic-txt {
    margin-left: 1rem;
    height: 80px;
    line-height: 80px;
    overflow: hidden; }
    .section_txt .dynamic-txt li {
      list-style: none;
      font-size: $display_sizes;
      font-weight: 500;
      color: $blackclr;
      position: relative;
      top: 0;
      cursor: default;
      animation: slide 10s steps(2) infinite; }
      .section_txt .dynamic-txt li span {
        position: relative; }
  
  @keyframes slide {
    100% {
      top: -182px; } }
  
  .dynamic-txt li span::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $yellowclr;
    border-left: 2px solid $blackclr;
    animation: typing 2s steps(10) infinite; }
  
  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -60px 0 60px; } }
  
  .section_nav {
    margin-top: 5rem; }
  
  button {
    margin-right: 1rem;
    background-color: $yellowclr;
    font-size: $p_size;
    padding: 1rem;
    color: $blackclr;
    border-radius: 5px;
    border: 2px solid $blackclr;
    cursor: pointer; }
  
  .button--animate {
    animation: wink 0.2s steps(4); }
  
  @keyframes wink {
    100% {
      background: $yellowclr; }
    0% {
      background: $blackclr;
      color: $yellowclr; } }
  
  // about me page strings and containers 

  .section_lang-nav{
    position: relative;
    top: 0;
    margin-bottom: 4rem;
    width: 100%;
    height: 10%;
    background: $blackclr;
  }

  .section_bio-text{
    padding: 0 35rem;
  }

  .section_skills{
    position: relative;
    top:28%;
    margin-bottom: 4rem;
    width: 100%;
    height: 40%;
    background: $blackclr;}