
::before,
::after{
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: black;
    font-family: sans-serif;
}
.card{
    color: blanchedalmond;
    background-image: url(media/article1.png);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch ;
    border-radius: 0.5rem;
    overflow: hidden;

    transition: transform 500ms ease;
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover{
    transform: scale(1.02);
}

.card:hover .card-content > *:not(.card-title){
    opacity: 1;
}

.card-content{
    --padding:1.5rem;
    padding: var(--padding);
    background: linear-gradient(to top,rgba(0,0,0,0.7),rgba(0,0,0,0));
    transform: translateY(70%);
    transition: transform 500ms ease;
}

.card:hover .card-content{
    transform: translateY(0);
}


.card-title{
    position: relative;
    width: max-content;
}

.card-title::after{
    content:"";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: mediumspringgreen;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after{
    transform: scaleX(1);
}

.card-body{
    color: rgb(255 255 255 / 0.8);
}

.button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background: mediumspringgreen;
    color: black;
    padding: .5em 1.25em;
    border-radius: 0.25em;
}

.button:hover,.button:focus{
    background-color: darkturquoise;
}